<div class="card" style="width: 100%">
  <%= carousel_for(@room.images) %>
  <div class="card-body">
    <h5 class="card-title"><%= @room.title %></h5>
    <p class="card-text"><%= @room.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Features: </li>
    <li class="list-group-item">Price: </li>
    <li class="list-group-item">No of People: </li>
  </ul>
  <div class="card-body">
    <%= link_to "Edit Room", edit_room_path(@room), class:"btn btn-info" %>
    <%= link_to "Delete Room", room_path(@room), class:"btn btn-danger", method: :delete, data: { confirm: "Are you sure?"} %>
  </div>
</div>