<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HotelApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/34ca5c7aa9.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar">
      <%= link_to root_path, class:"navbar-brand" do %>
        <%= image_tag "brand.jpg", class:"navbar-brand" %>
      <% end %>
    </nav>
    <div class="row">
      <%= render 'layouts/side_bar' %>
      <div class="col-7 center-col">
        <%= render "layouts/messages" %>
        <%= yield %>
      </div>
      <div class="col-3 right-col">
        <p>Menu</p>
        <ol>
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ol>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
